@main("Welcome to Play Framework") {

	<div class="wrapper">
		<div class="container">
		  <div class="page-header">
			<h1>Create Event</h1>
		  </div>		
		  
			<form class="form-inline" role="form">			
					<h3>Event details</h3>
					<div class="form-group">						
						<p><input type="text" class="form-control" id="place" placeholder="Place"></p>						
						<p><input type="text" class="form-control" id="password" placeholder="Password"></p>
						<p><input type="text" class="form-control datepicker" id="Date" placeholder="Date"></p>
						<b>Kind of sport:</b>
						<select class="form-control">
							<option value="football">Football</option>
							<option value="basketball">Basketball</option>		
							<option value="fitness">Fitness</option>	
						</select>	
						<p></p>
						<b>Skill level:</b>
						<select class="form-control">
							<option value="football">Beginner</option>
							<option value="basketball">Middle</option>		
							<option value="fitness">Expert</option>	
						</select>	
						<p></p>
						<textarea class="form-control" id="TextArea" placeholder="Description"></textarea>
						<p></p>
						<input class="btn btn-danger" type="submit" value="Create Event">
						<form method="post">
							<input type="button" value="Close" class="btn btn-default" id="close-bnt"/>
						</form>
					</div>
					
			</form>		
		</div>
	</div>
}	
	
	

  