@main("Welcome to Play Framework") {
		<div class="wrapper">
		<div class="container">
		  	 <div class="page-header">
			<h1 class="text-success"><img style='display: inline-block;' src="@routes.Assets.at("images/box.jpg")" alt="box_img" class="img-responsive center-block "> Level Description</h1>
		  </div>
		  
			<form class="form-inline" role="form">
			
			<table class="table" id="levelsDescription">
					 <tr>
						<th class="text-success">Level</th>
						<th class="text-warning">Description</th>															
					 </tr>	
					<tr>
						<td class="text-success"><b>Beginner</b></td>
						<td>The New Guy -- A high school loser who wants to be popular and respected ... the South Harmon Institute of Technology, on a rundown piece of property ..... Q: What are the differences between the Theatrical Version and the Director's Cut?</td>															
					</tr>	
					<tr>
						<td class="text-warning"><b>Middle</b></td>
						<td>The Middle is an American sitcom, airing on ABC since September 30, 2009. The show was created by former How I Met Your Mother executive producers ...</td>															
					</tr>	
					<tr>
						<td class="text-danger"><b>Expert</b></td>
						<td>A person with a high degree of skill in or knowledge of a certain subject. 2. a. The highest grade that can be achieved in marksmanship. b. A person who has ...</td>															
					</tr>	
			</table>
				
			<button  class="btn btn-warning btn-lg" type="submit" id="close-bnt"><b>Close</b></button>
	
			</form>		
		</div>
	</div>
	
}