@main("Welcome to Play Framework") {

	<div class="wrapper">
		<div class="row">
			<div class="col-sm-3 col-md-4 col-lg-4">
			</div>
			<div class="col-sm-5 col-md-4 col-lg-4">
				<h2 class="form-signin-heading">Please sign</h2>
				<input type="email" class="form-control" id="login" placeholder="Login" required autofocus>
				<input type="password" class="form-control" id="password" placeholder="Password" required>				
				<p></p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
				<br/>
				<p><a href="regestration.html">Sign in</a></p>				
				<br/>
				<div class="alert alert-danger hidden" id="no_user">Error login or password.</div>
			</div>
			<div class="col-sm-3 col-md-4 col-l-4">
			</div>
		 </div>
	</div>
}
