@main("Welcome to Play Framework") {
	<div class="wrapper">
		<div class="container">
		  	<h1>My Events</h1>
		  
			<form class="form-inline" role="form">
				
				<table class="table" id="personTable">
					 <tr>
						<th>Event</th>
						<th>Date</th>
						<th>Delete event</th>														
					 </tr>	
					<tr>
						<td>Football</td>
						<td>11/11/11</td>
						<td><a><span class="glyphicon glyphicon-remove-sign"></span></a></td>														
					</tr>	
								 
				</table>
				
				<form method="post">
					<input type="button" value="Close" class="btn btn-default" id="close-bnt"/>
				</form>
			</form>		
		</div>
	</div>
	
}	
	