@main("Welcome to Play Framework") {
	<div class="wrapper">
		<div class="container">
		 
		  	<div class="page-header">
			<h1 class="text-success"><img style='display: inline-block;' src="images/swim.jpg" alt="swim_img" class="img-responsive center-block "> My Events</h1>
		  </div>
		  
			<form class="form-inline" role="form">
				
				<table class="table" id="personTable">
					 <tr>
						<th class="text-success">Event</th>
						<th class="text-success">Date</th>
						<th class="text-success">Delete event</th>														
					 </tr>	
					<tr>
						<td>Football</td>
						<td>11/11/11</td>
						<td><a href="#"><span class="glyphicon glyphicon-remove-sign"></span></a></td>														
					</tr>	
								 
				</table>
				
				<button  class="btn btn-warning btn-lg" type="submit" id="close-bnt"><b>Close</b></button>
			</form>		
		</div>
	</div>
	
}	
	