@main("Welcome to Play Framework") {

<div class="wrapper">
		<div class="container">
		  	 <div class="page-header">
			<h1 class="text-success"><img style='display: inline-block;' src="images/box.jpg" alt="box_img" class="img-responsive center-block "> People on Event</h1>
		  </div>	
		  
			<form class="form-inline" role="form">
				
				<table class="table" id="personTable">
					 <tr>
						<th class="text-success">Name</th>
						<th class="text-success"><span class="glyphicon glyphicon-envelope"></span></th>										
					 </tr>					 
				</table>
				
				<button  class="btn btn-warning btn-lg" type="submit" id="close-bnt"><b>Close</b></button>
			</form>		
		</div>
	</div>
}	