@main("Welcome to Play Framework") {

	<div class="wrapper">
		<div class="container">
		  	<h1>People list on event</h1>
		  
			<form class="form-inline" role="form">
				
				<table class="table" id="personTable">
					 <tr>
						<th>Name</th>
						<th><span class="glyphicon glyphicon-envelope"></span></th>										
					 </tr>					 
				</table>
				
				<form method="post">
					<input type="button" value="Close" class="btn btn-default" id="close-bnt"/>
				</form>
			</form>		
		</div>
	</div>
}	